*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;   
}

.navbar{
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #222;
    padding: 0 15px;
    height: 25px;
    color: white;
    z-index: 2;
}

.nav{
    display: flex;
    list-style: none;
    align-items: flex-start;
    background: none;
    flex-wrap: wrap;
    justify-content: space-around;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: #90dbf4;
}

.footer{
    width: 100vw;
    margin: 0 auto;
    background-color: black;
    text-align: center;
    align-content: center;
    color: white;
    position: absolute;
    bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    color: #90dbf4;
}

.footer img{
    width: 1%;
}

.fond{
    height: 65vh;
    width: 100vw;
    background-color: black;
}

/* @media screeen and (max-width:400px) { 

    .h1{
        width: 50%;
    }
   
}  */